@import url(https://fonts.googleapis.com/css2?family=Poppins);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:white;
}

.login-box {
    position: relative;
    width: 600px;
    height: 450px;
    background: white;
    border: 2px solid rgb(230, 211, 211);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 350px;
    margin: 30px 0;
    border-bottom: 2px solid white;
    
}

header {
    position: absolute;
    top: 0;
    left:0;
    width: 120%;
    padding: 30px 100px;
    background: rgb(7, 155, 74);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.input-box .icon {
    position: absolute;
    right: 8px;
    bottom: 0px;
    font-size: 1.3em;
    line-height: 50px;
}

.input-box label {
    position: absolute;
    top: 0%;
    left: 10px;
    transform: translateY(-100%);
    color: black;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: rgb(201, 187, 187);
    border-radius: 30px;
    outline: none;

    font: 1em ;
    color: black;
    border: 1px solid gray;
}



button {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: 4px solid rgb(15, 172, 68);
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;

}

@media (max-width: 450px) {
    .login-box {
        width: 100%;
        height: 100vh;

    }
}